<%- model_class = @project.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">

  <dt><strong><%= model_class.human_attribute_name(:client_id) %>:</strong></dt>
  <dd><%= @project.client_id %></dd>

  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @project.name %></dd>

  
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @project.description %></dd>
 	<div class="form-actions">

 	<%if @project.status==nil%>
		<%= simple_form_for([@project.client,@project]) do |f| %>
			<%=f.input :status, :as => :hidden, :input_html => { :value => 1 } %>
			<%=f.button :submit, "Cerrar Proyecto", :class => 'btn btn-danger'%>
		<%end%>
	<%else%>
		<%= simple_form_for([@project.client,@project]) do |f| %>
	
			<%=f.input :status, :as => :hidden, :input_html => { :value => nil } %>
			<%=f.button :submit, "Activar Proyecto", :class => 'btn btn-primary'%>
		<%end%>
	<%end%>
	</div>


</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              client_path(@client), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_client_project_path(@client,@project), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              client_path(@client),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

<%- model_class = Sprint.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @project.sprints.each do |sprint| %>
      <tr>
        <td><%= link_to sprint.name, project_sprint_path(@project,sprint) %></td>
        <td><%= sprint.id %></td>
        <td><%= sprint.description %></td>
		<% if sprint.status == nil %>
        <td> Incompleta</td>
        <%else%>
        <td> Completa</td>
		<%end%>
        <td><%= sprint.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_sprint_path(@project,sprint), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_sprint_path(@project,sprint),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new Sprint")),
            new_project_sprint_path(@project),
            :class => 'btn btn-primary' %>

